.App {
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#background {
  position: absolute;
  z-index: -3;
  width: 100%;
  text-align: center;
}

#background-image {
  opacity: .1;
  height: 1000px;
  width: 1000px;
  text-align: center;
  margin-top: 160px;
}


#content {
  z-index: 1;
}

.App-logo {
  animation: App-logo-spin 3s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  background-color: darkgray;
  padding-top: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.ImagePane {
  padding-top: 10px;
}

.resume-data {
  text-align: center;
  color: darkcyan;
}

.profile-image {
  height: 150px;
  width: 150px;
}

.tree-container {
  width: 100%;
  text-align: center;
}

.tree {
  display: inline-block;
}

.tree-base {
  margin-left: 30px;
  width: 60px;
  height: 400px;
  background-color: black
}

.tree-base-bottom {
  width: 60px;
  height: 30px;
  border-bottom: solid 30px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  margin-top: -45px;
  border-radius: 90%;
  margin-left: 20px;
}

.tree-base-top {
  width: 60px;
  height: 30px;
  border-top: solid 30px black;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  margin-bottom: -30px;
}

.meta-link {
  display: inline-block;
  padding: 5px 10px 10px 0;
}

.Footer {
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: darkgray;
}

a {
  color: darkcyan !important;
}

.inline {
  display: inline-block;
}

.fa-graduation-cap {
  font-size: 45px !important;
}

.Education,
.Interests
{
  margin-bottom: 50px;
}

#overlay {
  //background-color: #cdf2e1;
  background-color: darkcyan;
  color: darkgray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.welcome-screen {
  z-index: 5;
  text-align: center;
  margin-top: 100px;
  position: relative;
}

.welcome {
  font-size: 100px;
}

.clouds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  animation: FadeIn 3s ease-out;
  user-select: none;
}

.cloud {
  position: relative;
  color: white;
  /* animation-direction: alternate-reverse; */
  -webkit-animation: 10s linear 0s infinite move_eye;
  animation: 10s linear 0s infinite move_eye;
}

.cloud-1 {
  font-size: 200px;
  padding-left: 500px;
}

.cloud-2 {
  font-size: 25px;
  padding-right: 20px;
}

.cloud-3 {
  padding-left: 200px;
  font-size: 150px;
}

.cloud-4 {
  padding-left: 400px;
  font-size: 400px;
}

@-webkit-keyframes move_eye { from { margin-left: 0%; } to { margin-left: 100%; }  }
@keyframes move_eye { from { margin-left: 0%; } to { margin-left: 100%; }  }